/* .BudgetForm {

} */
form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: aqua;
    width: 20%;
    display: flex;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1em;
}